table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 700px;
    margin: 0 auto;
}


td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;

}

th {

    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

td {

    font-family: 'Roboto', sans-serif;
}

tr:nth-child(even) {
    background-color: #f7f7f7;
}

.form-style {

    width: 38%;
    margin: 0 auto;
    margin-bottom: 1%;
    margin-top: 3vh;
}

.form-text {

    border: 1px solid #f7f7f7;
    background: #f5f5f5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #424242;
    -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(000, 000, 000, 0.7) 0 0px 0px;
    -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(000, 000, 000, 0.7) 0 0px 0px;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(000, 000, 000, 0.7) 0 0px 0px;
    padding: 8px;
    margin-bottom: 20px;
    width: 180px;
}

.form-button {

    background: #f7f7f7;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #404441;
    font-family: helvetica, serif;
    padding: 6px 18px;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
}

.form-select {

    border: 1px solid #f7f7f7;
    background: #f5f5f5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #424242;
    -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(000, 000, 000, 0.7) 0 0px 0px;
    -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(000, 000, 000, 0.7) 0 0px 0px;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(000, 000, 000, 0.7) 0 0px 0px;
    padding: 8px;
    margin-bottom: 20px;
    width: 100px;
    height: 30px;
}
